/* 
Simple selectors (select elements based on name, id, class) 
Combinator selectors (select elements based on a specific relationship between them)
Pseudo-class selectors (select elements based on a certain state) 
Pseudo-elements selectors (select and style a part of an element) 
Attribute selectors (select elements based on an attribute or attribute value) 
 */


 /* Simple selectors (select elements based on name, id, class) */

 /* Simple selectors (select elements based on name, id, class) */
 p {
    color: aliceblue;
    text-align: center;
 }

 /* The CSS id Selector */
 #para1 {
    color: aliceblue;
 }

 /* The CSS class Selector */
 .test {
    color: aliceblue;
 }

 /* atau bisa seperti berikut agar lebih spesifik */

 p.test {
    background-color: aliceblue;
 }

 /* The CSS Universal Selector */

 * {
    text-align: center;
    color: antiquewhite;
 }

 /* The CSS Grouping Selector */

 h1,h2,p {
     text-align: center;
     color: red;
 }
